:root {
  --primary: #020202;
  --secondary: #399c00;
  --neutral: #eff0f4;
  --neutralChange: #020202;
  --shadow: #d4d4d4;
  --shadowDark: #8a8a8a;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  // background: url(/blackjack2.jpg);
  background: var(--neutral);
  font-family: monospace;
  text-align: center;
  color: var(--primary);
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  height: 53px;
  position: sticky;
  top: 0;
  background: var(--neutral);
  border-bottom: 2px solid var(--shadow);
  box-shadow: 0 4px 8px -2px var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

#logo {
  font-family: monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--primary);
  user-select: none;
  margin: 5px 10px;
  cursor: pointer;
  span {
    color: var(--secondary);
  }
}

#theme {
  width: 1.8rem;
  height: 1.8rem;
  //border: 1px solid var(--primary);
  box-shadow: 0 4px 8px -2px var(--shadowDark);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 5px 10px;
  z-index: 2000;
}

#theme:hover {
  border: none;
  box-shadow: 0 4px 8px -2px var(--secondary);
}
#theme-change {
  background: var(--primary);
  width: 50%;
  height: 100%;
  border-radius: 50%;
  transition: "translate 300ms ease-in-out";
}

/* .game-round-el is in line 262*/

.user-div-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.user-div {
  width: 65%;
  max-width: 500px;
  background: var(--neutral);
  padding: 0.825rem;
  border-radius: 10px;
  box-shadow: 0 0 8px var(--shadow);
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: sans-serif;
  padding: -0.8em;
  margin: 0;
  line-height: 3.5rem;
  user-select: none;
}

.message {
  color: var(--secondary);
  font-size: 1rem;
  user-select: none;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#input-el-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  border: 2px solid var(--shadow);
  padding: 0;
}

#max-value-el {
  width: 60%;
  margin: 1%;
}

#input-el-players,
#input-el-computers,
#max-value-el {
  padding: 0.825rem 0;
  text-align: center;
  background: var(--neutral);
  color: var(--neutralChange);
  font-family: monospace;
  font-size: 0.725rem;
  text-align: center;
  outline: none;
  border: 2px solid var(--shadow);
}

#input-el-players,
#input-el-computers {
  width: 75%;
  border-width: 0px 2px 0px 0px;
  border-style: solid;
  border-color: var(--shadow);
}

.person-icon,
.computer-icon {
  width: 25%;
  margin: 0;
  fill: #404040;
}

.person-icon {
  height: 22px;
}
.computer-icon {
  height: 40px;
}

#pick-players-icon:hover,
#pick-computers-icon:hover {
  fill: var(--secondary);
}

#input-el-computers {
  display: none;
}

#pick-computers-icon {
  display: none;
}

.player-and-score {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.computer-icon-in-game,
.person-icon-in-game {
  width: 30px;
}

.player-score-wrapper {
  height: 13px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.score {
  width: 8px;
  height: 100%;
  background: #404040;
  margin: 1px;
}

.start-btn {
  width: 90%;
  background-color: var(--primary);
  border: none;
  border-radius: 1.75rem;
  padding: 1rem 0.5rem;
  font-family: monospace;
  margin: 10px auto;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--neutral);
  cursor: pointer;
}

.start-btn:hover {
  opacity: 0.9;
  background: var(--secondary);
}

// Help Section
#about-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  // height: 100%;
  // max-height: 450px;
  height: 60px;
  width: 100%;
  z-index: 5000;
}
#about {
  display: none;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 80%;
  overflow: hidden;
  box-shadow: 0 0 8px var(--shadowDark);
}

#about * {
  user-select: none;
}
#about-header {
  display: flex;
  align-items: center;
  color: #d4d4d4;
  padding-left: 20px;
  text-align: left;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  background: #040404;
  box-shadow: 0 4px 8px -2px var(--shadowDark);
}

#about-content {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  background: var(--neutral);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: var(--neutral);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--shadow);
    border-radius: 4px;
    transition: "background 0.3s ease-in-out";
    cursor: grab;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--shadowDark);
  }
}

.about-content-item {
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  color: var(--primary);
  background: var(--shadow);
  text-align: left;
  border-radius: 5px;
  height: auto;
}

.about-content-item-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.8rem;
}

#about-footer {
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--shadow);
  background: var(--neutral);
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 40px;
  width: 100%;
}

#about-btn-wrapper {
  position: absolute;
  bottom: 0;
  height: 100%;
  //height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: var(--neutral);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  user-select: none;
  background: var(--secondary);
  border-radius: 50%;
  box-shadow: 0 0 8px var(--shadowDark);
  cursor: pointer;
}

#about-btn:hover {
  background: var(--primary);
  color: var(--neutral);
}

#scrimba,
#github,
.about-content-item-text a {
  color: var(--secondary);
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  #about-wrapper {
    max-width: 300px;
    margin-right: 10px;
  }
  #about-btn-wrapper {
    justify-content: flex-end;
  }
}

.wrapper {
  margin-top: 30px;
}

.p {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--neutral);
  box-shadow: 0 0 0.3rem 0 var(--shadow);
  margin: 0.85rem;
  padding: 0.85rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  // transition: 0.3s;
}

// lottiefile container
.svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50px;
  left: -20px;
  pointer-events: none;
}

.p-cover {
  position: absolute;
  top: -700px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutralChange);
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  transition: top 500ms ease-in-out;
  background: var(--neutral);
}

.player-draws-no-el {
  color: var(--primary);
  position: absolute;
  top: 5px;
  right: 5px;
  user-select: none;
  // margin: 10px auto;
}

.game-round-el {
  color: var(--primary);
  position: sticky;
  margin: 10px auto;
  padding: 10px 20px;
  z-index: 2000;
  user-select: none;
}

.num1-el,
.num2-el {
  display: block;
  width: 100%;
  font-weight: 700;
  color: var(--primary);
  font-size: 2rem;
  user-select: none;
}

.draw-card {
  padding: 1rem 2rem;
  font-family: monospace;
  background: var(--primary);
  font-weight: 700;
  box-shadow: 0 0 8px var(--shadow);
  border: none;
  color: var(--neutral);
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
}

.skip-turn {
  display: none;
  padding: 1rem 2rem;
  font-family: monospace;
  background: var(--primary);
  font-weight: 700;
  box-shadow: 0 0 8px var(--shadow);
  border: none;
  color: var(--neutral);
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
}

.sum-el {
  display: block;
  // color: var(--primary);
  font-size: 1.5rem;
  margin: 10px auto;
  user-select: none;
}

.comment-el {
  display: none;
  width: 100%;
  color: var(--primary);
  font-size: 1rem;
  user-select: none;
}

@media screen and (min-width: 480px) {
  .logo {
    font-size: 2rem;
  }

  #theme {
    width: 2rem;
    height: 2rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 10px;
    grid-template-areas:
      "p1 p2"
      "p3 p4";
  }

  .p1 {
    grid-area: p1;
  }
  .p2 {
    grid-area: p2;
  }
  .p3 {
    grid-area: p3;
  }
  .p4 {
    grid-area: p4;
  }
}

@media screen and (min-width: 760px) {
  .logo {
    margin: 5px auto;
  }
  .inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #input-el-wrapper {
    width: 35%;
    margin: 1%;
  }
  #max-value-el {
    width: 35%;
    margin: 1%;
  }
  #input-el-players,
  #input-el-computers,
  #max-value-el {
    padding: 0.825rem 0;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    text-align: center;
    outline: none;
    // border: 2px solid var(--shadow);
  }

  h1 {
    font-size: 1.8rem;
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "p1 p2 p3"
      "p4 p5 p6";
  }

  .p1 {
    grid-area: p1;
  }
  .p2 {
    grid-area: p2;
  }
  .p3 {
    grid-area: p3;
  }
  .p4 {
    grid-area: p4;
  }
  .p5 {
    grid-area: p5;
  }
  .p6 {
    grid-area: p6;
  }

  #player-win-text {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "p1 p2 p3 p4"
      "p5 p6 p7 p8";
  }

  .p1 {
    grid-area: p1;
  }
  .p2 {
    grid-area: p2;
  }
  .p3 {
    grid-area: p3;
  }
  .p4 {
    grid-area: p4;
  }
  .p5 {
    grid-area: p5;
  }
  .p6 {
    grid-area: p6;
  }
}

// When player wins

#player-win-text {
  font-size: 1.5rem;
  color: var(--winPlayerColor);
  margin: 10px auto;
}

#sum-draws-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#win-sum-el {
  color: var(--winPlayerColor);
}

#win-player-draws-no-el,
#win-game-round-el {
  position: static;
  color: var(--winPlayerColor);
  margin: 2px;
  padding: 0px;
}

#new-game-btn,
#next-round-btn {
  padding: 1rem;
  font-size: 1rem;
  font-family: monospace;
  background: var(--primary);
  font-weight: 700;
  box-shadow: 0 0 8px var(--shadow);
  border: none;
  color: var(--neutral);
  border-radius: 1.75rem;
  margin: 5px auto;
  cursor: pointer;
  width: 70%;
  transition: 0.35s;
  border: 2px solid var(--primary);
}

#next-round-btn:hover,
#new-game-btn:hover {
  background: var(--neutral);
  color: var(--primary);
  border: 2px solid var(--primary);
}

// player win media query
@media screen and (min-width: 760px) {
  #player-win-text {
    font-size: 2rem;
  }
  #sum-draws-wrapper {
    display: block;
  }

  #new-game-btn,
  #next-round-btn {
    width: 50%;
    max-width: 350px;
  }
}

/* Score board Area */
#see-scoreboard {
  padding: 0.85rem 1.5rem;
  border: none;
  cursor: pointer;
  color: (--neutral);
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 1.5rem;
  opacity: 0.6;
  transition: 0.3s;
}

#see-scoreboard:hover {
  opacity: 1;
}

#scoreboard-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 52px;
  width: 100%;
  height: calc(100% - 53px);
  background: rgba(0, 0, 0, 0.7);

  z-index: 3000;
}

#scoreboard-exit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  text-decoration: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--secondary);
  font-family: sans-serif;
  cursor: pointer;
}

#scoreboard-exit:hover {
  color: var(--primary);
}

#scoreboard {
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  height: auto;

  border-bottom: 20px solid var(--secondary);
}

#scoreboard-header {
  background: var(--secondary);
  color: var(--neutral);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: sans-serif;
}

#scoreboard-list {
  text-align: left;
  margin: 0;
  padding: 0;
}

.scoreboard-list-item {
  padding: 10px 0;
  width: 100%;
  background: var(--neutral);
  color: var(--primary);
  box-shadow: 0 0 15px var(--shadowDark);
  transition: transform 0.35s;
  font-family: sans-serif;
}

.scoreboard-list-item span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  background: var(--secondary);
  color: var(--neutral);
  font-size: 0.85rem;
  font-weight: 600;
  transform: translateY(-2px);
}

#scoreboard-list:hover .scoreboard-list-item {
  opacity: 0.2;
}
#scoreboard-list .scoreboard-list-item:hover {
  transform: scale(1.1);
  background: var(--secondary);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: var(--neutral);
  opacity: 1;
}

#scoreboard-list .scoreboard-list-item:hover span {
  background: var(--neutral);
  color: var(--secondary);
}
