:root {
  --main-color: #721272;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 440px;
  background: var(--main-color);
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 0.625rem 1.3rem;
  background: #fafafa;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5f9341;
  outline: none;
  border: none;
}

.flexer {
  display: flex;
  justify-content: space-between;
}
button {
  flex: 0 0 30%;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.625rem 1.3rem;
  font-weight: 700;
  color: var(--main-color);
  border: none;
  outline: none;
  border: 1px solid #fafafa;
  cursor: pointer;
  text-transform: uppercase;
}
#input-btn:hover,
#tab-btn:hover {
  background: #5f9341;
  color: #fafafa;
}

#delete-btn {
  background: var(--main-color);
  color: #fafafa;
}

#delete-btn:hover {
  background: #5f9341;
  color: #fafafa;
}

ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}
li {
  margin-top: 5px;
}
#ul-el a {
  color: #5f9341;
}
